:root {
  /* Blue */
  --color-blue-dark: #0019a7;
  --color-blue-highlight: #132caf;
  --color-blue-normal: #273eb7;
  --color-blue-light: #d6e7ff;
  /* Blue-1200 */
  --color-blue-1200: #0019a7;
  --color-blue-1100: #132caf;
  --color-blue-1000: #273eb7;
  --color-blue-900: #3a51bf;
  --color-blue-800: #4e64c7;
  --color-blue-700: #6177cf;
  --color-blue-600: #7589d7;
  --color-blue-500: #889cdf;
  --color-blue-400: #9cafe7;
  --color-blue-300: #afc2ef;
  --color-blue-200: #c3d4f7;
  --color-blue-100: #d6e7ff;

  /* Red */
  --color-red-dark: #b80000;
  --color-red-highlight: #be1414;
  --color-red-normal: #c52828;
  --color-red-light: #ffdbdb;
  /* Red-1200 */
  --color-red-1200: #b80000;
  --color-red-1100: #be1414;
  --color-red-1000: #c52828;
  --color-red-900: #cb3c3c;
  --color-red-800: #d25050;
  --color-red-700: #d86464;
  --color-red-600: #df7777;
  --color-red-500: #e58b8b;
  --color-red-400: #ec9f9f;
  --color-red-300: #f2b3b3;
  --color-red-200: #f9c7c7;
  --color-red-100: #ffdbdb;

  /* Green */
  --color-green-dark: #007816;
  --color-green-highlight: #148425;
  --color-green-normal: #299035;
  --color-green-light: #e0fcbf;
  /* Green-1200 */
  --color-green-1200: #007816;
  --color-green-1100: #148425;
  --color-green-1000: #299035;
  --color-green-900: #3d9c44;
  --color-green-800: #51a853;
  --color-green-700: #66b463;
  --color-green-600: #7ac072;
  --color-green-500: #8fcc82;
  --color-green-400: #a3d891;
  --color-green-300: #b7e4a0;
  --color-green-200: #ccf0b0;
  --color-green-100: #e0fcbf;

  /* Yellow */
  --color-yellow-dark: #ffd300;
  --color-yellow-highlight: #ffd713;
  --color-yellow-normal: #ffdb25;
  --color-yellow-light: #ffffce;
  /* Yellow-1200 */
  --color-yellow-1200: #ffd300;
  --color-yellow-1100: #ffd713;
  --color-yellow-1000: #ffdb25;
  --color-yellow-900: #ffdf38;
  --color-yellow-800: #ffe34b;
  --color-yellow-700: #ffe75e;
  --color-yellow-600: #ffeb70;
  --color-yellow-500: #ffef83;
  --color-yellow-400: #fff396;
  --color-yellow-300: #fff7a9;
  --color-yellow-200: #fffbbb;
  --color-yellow-100: #ffffce;

  /* Orange */
  --color-orange-dark: #e95900;
  --color-orange-highlight: #eb6410;
  --color-orange-normal: #ed7020;
  --color-orange-light: #ffd6af;
  /* Orange-1200 */
  --color-orange-1200: #e95900;
  --color-orange-1100: #eb6410;
  --color-orange-1000: #ed7020;
  --color-orange-900: #ef7b30;
  --color-orange-800: #f18640;
  --color-orange-700: #f39250;
  --color-orange-600: #f59d5f;
  --color-orange-500: #f7a96f;
  --color-orange-400: #f9b47f;
  --color-orange-300: #fbbf8f;
  --color-orange-200: #fdcb9f;
  --color-orange-100: #ffd6af;

  /* Indigo */
  --color-indigo-dark: #1a0069;
  --color-indigo-highlight: #290f77;
  --color-indigo-normal: #371e84;
  --color-indigo-light: #bca4ff;
  /* Indigo-1200 */
  --color-indigo-1200: #1a0069;
  --color-indigo-1100: #290f77;
  --color-indigo-1000: #371e84;
  --color-indigo-900: #462d92;
  --color-indigo-800: #553ca0;
  --color-indigo-700: #644bad;
  --color-indigo-600: #7259bb;
  --color-indigo-500: #8168c8;
  --color-indigo-400: #9077d6;
  --color-indigo-300: #9f86e4;
  --color-indigo-200: #ad95f1;
  --color-indigo-100: #bca4ff;

  /* Purple */
  --color-purple-dark: #79007d;
  --color-purple-highlight: #841189;
  --color-purple-normal: #902295;
  --color-purple-light: #f7bdff;
  /* Purple-1200 */
  --color-purple-1200: #79007d;
  --color-purple-1100: #841189;
  --color-purple-1000: #902295;
  --color-purple-900: #9b34a0;
  --color-purple-800: #a745ac;
  --color-purple-700: #b256b8;
  --color-purple-600: #be67c4;
  --color-purple-500: #c978d0;
  --color-purple-400: #d589dc;
  --color-purple-300: #e09be7;
  --color-purple-200: #ecacf3;
  --color-purple-100: #f7bdff;

  /* Cyan */
  --color-cyan-dark: #00c0eb;
  --color-cyan-highlight: #0fc5ed;
  --color-cyan-normal: #1fcaef;
  --color-cyan-light: #a8f6ff;
  /* Cyan-1200 */
  --color-cyan-1200: #00c0eb;
  --color-cyan-1100: #0fc5ed;
  --color-cyan-1000: #1fcaef;
  --color-cyan-900: #2ecff0;
  --color-cyan-800: #3dd4f2;
  --color-cyan-700: #4cd9f4;
  --color-cyan-600: #5cddf6;
  --color-cyan-500: #6be2f8;
  --color-cyan-400: #7ae7fa;
  --color-cyan-300: #89ecfb;
  --color-cyan-200: #99f1fd;
  --color-cyan-100: #a8f6ff;

  /* Mono */
  --color-mono-dark: #040404;
  --color-mono-highlight: #1a1a1a;
  --color-mono-normal: #303030;
  --color-mono-light: #f4f4f4;
  /* Mono-1200 */
  --color-mono-1200: #040404;
  --color-mono-1100: #1a1a1a;
  --color-mono-1000: #303030;
  --color-mono-900: #454545;
  --color-mono-800: #5b5b5b;
  --color-mono-700: #717171;
  --color-mono-600: #878787;
  --color-mono-500: #9d9d9d;
  --color-mono-400: #b3b3b3;
  --color-mono-300: #c8c8c8;
  --color-mono-200: #dedede;
  --color-mono-100: #f4f4f4;
}
